<div class="container">

	<div class='row'>
		<div class='col-sm-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					Active Missions
				</div>
				<% unless @unresolved_missions[:initiated] %>
					<div class='panel-body'>
						<h5>No trucks out</h5>
					</div>
				<% else %>
					<% @unresolved_missions[:initiated].each do |mission| %>
						<div class='panel-body'>
							<p class="text-success">
								<form action=<%="/missions/#{mission.id}"%> method='get'>
									<%= "#{mission.show_out_datetime} - #{mission.name} #{mission.unit_serviced}" %>
									<button type="submit" class="btn btn-default">
										View
									</button>
								</form>
							</p>
						</div>
					<%end%>
				<%end%>
			</div>
		</div>

		<div class='col-sm-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					Upcoming Missions
				</div>
				<% unless @unresolved_missions[:uninitiated] %>
					<div class='panel-body'>
						<h5>Nothing Planned</h5>
					</div>
				<% else %>
					<% @unresolved_missions[:uninitiated].each do |mission| %>
						<div class='panel-body' class=<%=stoplight_class(mission.step_off_at < Time.now)%>>
							<form action=<%="/missions/leave_wire/#{mission.id}"%> method='post'>
							<input type="hidden" name="_method" value="put"/>
									<%= "#{mission.show_out_datetime} - #{mission.name} #{mission.unit_serviced}" %>
								<button type="submit" class="btn btn-default">
									Leaving
								</button>
							</form>
							<form action=<%="/missions/#{mission.id}"%> method='get'>
								<button type="submit" class="btn btn-default">
									View
								</button>
							</form>
						</div>
					<%end%>
				<%end%>
			</div>
		</div>
	</div>

</div>

