<div class="container">

	<div class='row'>
		<div class='col-sm-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					Active Missions
				</div>
				<% unless @unresolved_missions[:initiated] %>
					<div class='panel-body'>
						<h5>No trucks out</h5>
					</div>
				<% else %>
					<% @unresolved_missions[:initiated].each do |mission| %>
						<div class='panel-body'>
							<p class="text-success">
								<%= "#{mission.show_out_dateTime} - #{mission.name} #{mission.unit_serviced}" %>
								<a href=<%="/missions/#{mission.id}"%>>
									<button type="button" class="btn btn-default">
										View
									</button>
								</a>
							</p>
						</div>
					<%end%>
				<%end%>
			</div>
		</div>

		<div class='col-sm-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					Upcoming Missions
				</div>
				<% unless @unresolved_missions[:uninitiated] %>
					<div class='panel-body'>
						<h5>Nothing Planned</h5>
					</div>
				<% else %>
					<% @unresolved_missions[:uninitiated].each do |mission| %>
						<form action=<%="/missions/leave_wire/#{mission.id}"%> method='post'>
						<input type="hidden" name="_method" value="put"/>
						<% if mission.step_off < Time.now %>
							<div class='panel-body'>
								<p class="text-danger">
									<%= "#{mission.show_out_dateTime} - #{mission.name} #{mission.unit_serviced}" %>
						<%else%>
							<div class='panel-body' class='success'>
								<p class='text-info'>
								<%= "#{mission.show_out_dateTime} - #{mission.name} #{mission.unit_serviced}" %>
						<%end%>
								<button type="submit" class="btn btn-default">
									Leaving
								</button></p>
							</div>
						</form>
					<%end%>
				<%end%>
			</div>
		</div>
	</div>

</div>

