<div class="container">

  <div class='jumbotron'>
    <h1><%="#{@mission_display[:mission].name} - #{@mission_display[:mission].unit_serviced}"%></h1>
    <h2>TimeNow: <%=mission_time%>
      <% if is_init = @mission_display[:mission].initiated %>
        <span class=<%=stoplight_class(is_init)%>> Started </span>
      <%else%>
        <span class=<%=stoplight_class(is_init)%>> Unstarted </span>
      <%end%>
      <% if is_comp = @mission_display[:mission].completed %>
        <span class=<%=stoplight_class(is_comp)%>> Finished </span>
      <%else%>
        <span class=<%=stoplight_class(is_comp)%>> Unfinished </span>
      <%end%>
    </h2>
    <h3>Planned for <%="#{@mission_display[:mission].show_out_datetime} - #{@mission_display[:mission].show_return_datetime}"%></h3>
  </div>

  <div class='row'>

    <div class='col-sm-6'>
      <div class='panel panel-default'>
        <% @mission_display[:trucks].each do |truck| %>
          <div class='panel-body'>
          <form action=<%="/missions/safe_return/#{@mission_display[:mission].id}/Dispatch/#{truck[:dispatch_id]}"%> method='get'>
            <!-- 
            This is commented out b/c I am redirecting to collect ck-in info
            
            <form action=<%#="/missions/safe_return/#{@mission_display[:mission].id}/Dispatch/#{truck[:dispatch_id]}"%> method='post'>
            <input type='hidden' name='_method' value='put'>
            -->

              <p class=<%= stoplight_class( truck[:safe_return] ) %>>
                <%= "#{truck[:truck].name_model} - #{truck[:driver].namerank}, #{truck[:a_driver].namerank}  " %>
                <button type='submit' class='btn btn-default' style=<%=display_toggle(truck[:safe_return])%>>
<!-- the display toggle isn't working here...
the *style="visibility:none"* is showing up on the page, so...?  -->
                 Check In</button>
              </p>
              <p class=<%= stoplight_class( truck[:safe_return] ) %>>
                <% truck[:passengers].each do |passenger| %>
                    <%= "#{passenger.namerank} "%>
                <%end%>
              </p>
              <p class=<%= stoplight_class( truck[:safe_return] ) %>>
                <% truck[:trailer].each do |trailer| %>
                    <%= "#{trailer.name}"%>
                <%end%>
              </p>
            </form>
          </div>
        <%end%>

          <!-- <#% @mission_display[:trailers].each do |trailer| %>
            <div class='panel-body'>
              <form action=<%#="/missions/safe_return/#{@mission_display[:mission].id}/TrailerDispatch/#{trailer[:dispatch_id]}"%> method='post'>
              <input type='hidden' name='_method' value='put'>
                <%#= stoplight( trailer[:returned] ) %>
                  <%#= "#{trailer[:dispatch].inspect}" %>
                  <%#= check_in_btn( trailer[:returned] ) %>
                </span>
              </form>
            </div>
          <%#end%>

      </div>
    </div>
    <div class='col-sm-6'>
      <div class='panel panel-default'>

          <#% @mission_display[:soldiers].each do |soldier| %>
            <div class='panel-body'>
              <form action=<%#="/missions/safe_return/#{@mission_display[:mission].id}/Passenger/#{soldier[:passenger_id]}"%> method='post'>
              <input type='hidden' name='_method' value='put'>
                <%#= stoplight( soldier[:returned] ) %>
                  <%#= "#{soldier[:soldier].name} #{soldier[:soldier].rank}" %>
                  <%#= check_in_btn( soldier[:returned] ) %>
                </span>
              </form>
            </div>
          <%#end%> -->

      </div>
    </div>

  </div> <!--closes row-->

</div><!--closes container-->

