<div class="container">

  <div class='jumbotron'>
    <h1><%="#{@mission_display[:mission].name} - #{@mission_display[:mission].unit_serviced}"%></h1>
    <h2>TimeNow: <%=mission_time%>
      <% if is_init = @mission_display[:mission].initiated %>
        <%=stoplight(is_init)%> Started </span>
      <%else%>
        <%=stoplight(is_init)%> Unstarted </span>
      <%end%>
      <% if is_comp = @mission_display[:mission].completed %>
        <%=stoplight(is_comp)%> Finished </span>
      <%else%>
        <%=stoplight(is_comp)%> Unfinished </span>
      <%end%>
    </h2>
    <h3>Planned for <%="#{@mission_display[:mission].show_out_datetime} - #{@mission_display[:mission].show_return_datetime}"%></h3>
  </div>

  <div class='row'>

    <div class='col-sm-6'>
      <div class='panel panel-default'>
        <% @mission_display[:trucks].each do |truck| %>
          <div class='panel-body'>
            <form action=<%="/missions/safe_return/#{@mission_display[:mission].id}/Dispatch/#{truck[:dispatch_id]}"%> method='post'>
            <input type='hidden' name='_method' value='put'>
              <%= stoplight( truck[:returned] ) %>
                <%= "#{truck[:truck].name} - #{truck[:driver].name} #{truck[:driver].rank}, #{truck[:a_driver].name} #{truck[:a_driver].rank}" %>
                <%= check_in_btn( truck[:returned] ) %>
              </span>
            </form>
          </div>
        <%end%>

          <% @mission_display[:trailers].each do |trailer| %>
            <div class='panel-body'>
              <form action=<%="/missions/safe_return/#{@mission_display[:mission].id}/TrailerDispatch/#{trailer[:dispatch_id]}"%> method='post'>
              <input type='hidden' name='_method' value='put'>
                <%= stoplight( trailer[:returned] ) %>
                  <%= "#{trailer[:dispatch].inspect}" %>
                  <%= check_in_btn( trailer[:returned] ) %>
                </span>
              </form>
            </div>
          <%end%>

      </div>
    </div>
    <div class='col-sm-6'>
      <div class='panel panel-default'>

          <% @mission_display[:soldiers].each do |soldier| %>
            <div class='panel-body'>
              <form action=<%="/missions/safe_return/#{@mission_display[:mission].id}/Passenger/#{soldier[:passenger_id]}"%> method='post'>
              <input type='hidden' name='_method' value='put'>
                <%= stoplight( soldier[:returned] ) %>
                  <%= "#{soldier[:soldier].name} #{soldier[:soldier].rank}" %>
                  <%= check_in_btn( soldier[:returned] ) %>
                </span>
              </form>
            </div>
          <%end%>

      </div>
    </div>

  </div> <!--close row-->

</div><!--close container-->

